{% extends '@!EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}
        <div class="button-action">
            <a class="btn btn-primary ion-android-arrow-back" href="/" >Назад на главную</a>
        </div>
{% endblock %}